#ifndef APSTUDIO_INVOKED

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_PIN_DIALOG_ENG DIALOG DISCARDABLE  0, 0, 186, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter PIN"
FONT 8, "Tahoma"
BEGIN
    PUSHBUTTON      "OK",IDOK,63,47,50,14,WS_DISABLED
    DEFPUSHBUTTON   "Cancel",IDCANCEL,117,47,50,14
    EDITTEXT        IDC_PININPUT,13,27,156,13,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Static",IDC_STATIC,38,12,254,8,NOT WS_GROUP
    ICON            "icon",IDI_ICON1,12,7,0,0
END

IDI_ICON1               ICON                    "Win/icon1.ico"
#endif
